/*COLORES*/
.Header {
  background-image: url(../images/FondoNav.png);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%; }
  .Header:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(white, black);
    opacity: 0.7;
    z-index: -1; }

.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "tituloIndex tituloIndex tituloIndex" "textoIndex textoIndex fotoContenido" "textoIndex textoIndex fotoContenido" "fotoGira fotoGira fotoGira";
  background-color: black; }
  .hero_title {
    grid-area: tituloIndex;
    text-align: center;
    color: #fafafa;
    margin-top: 30px; }
  .hero_contents {
    grid-area: textoIndex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 80%;
    height: auto;
    text-align: center;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    flex-wrap: nowrap;
    padding: 30px;
    color: #fafafa; }

.DivFoto {
  grid-area: fotoContenido;
  width: auto;
  height: auto;
  margin: 30px; }

.FotoContenido {
  object-fit: contain; }

.DivFotoGira {
  grid-area: fotoGira;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: black; }

.Gira2021 {
  object-fit: cover; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #030303; }

.DivPowerBy {
  color: #fafafa; }

.DivBotonesFooter {
  text-align: right;
  font-size: 30px; }

/******* MEDIA QUIERIES *********/
@media screen and (max-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "tituloIndex tituloIndex" "textoIndex fotoContenido" "fotoGira fotoGira" "fotoGira fotoGira" "fotoGira fotoGira";
    gap: 20px; }
  .Enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
  .DivFotoGira {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; } }

@media screen and (max-width: 600px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "tituloIndex" "textoIndex"  "fotoContenido" "fotoGira";
    gap: 20px; }
  .Enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
  .Gira2021 {
    object-fit: cover; }
  .DivFotoGira {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/*Pagina Historia en creacion cuando la termine, pongo todo en sass*/
.section2Historia {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.section1Historia {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  gap: 1em; }
  @media screen and (max-width: 768px) {
    .section1Historia {
      grid-template-columns: 1fr;
      gap: 0em; } }
  @media screen and (max-width: 600px) {
    .section1Historia {
      grid-template-columns: 1fr;
      gap: 0em; } }

.MainHistoria {
  background-color: black; }

.DivHistoriaFotos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.TextoHistoria {
  color: #fafafa;
  font-family: 'Roboto', sans-serif; }

.TituloHistoria {
  color: #fafafa;
  text-align: center;
  margin-bottom: 30px; }

.ucard {
  max-width: 300px;
  text-align: center; }

.card, .ucard {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.15); }

.avatar, .ucard > img {
  width: 100px;
  height: 100px;
  border-radius: 100px; }

.title, .ucard > h3 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 12px;
  opacity: 0.85; }

.small, .ucard > small {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.75; }

/*
.MainHistoria{
    background-color: $mainColor;
}

.DivTextoHistoria01 {
    @include flex(flex , row , nowrap , center , center)
}


.DivFotoHistoria{
    margin-left: 80px;
    }
    
    .DivTextoHistoria01{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivTextoHistoria02{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivTextoHistoria03{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 100px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivVideoHistoria01{
        display: inline-block;
        height: 100%;
        width: 30%;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    
    .DivVideoHistoria02{
        display: inline-block;
        height: 100%;
        width: 30%;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    */
/*Pagina Multimedia----------------------------------------------------------*/
.HeaderMultimedia {
  background-image: url(../images/FondoNavMulti.jpg);
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%; }

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse; }

.navbar-nav {
  align-items: flex-end; }

.carousel-item {
  height: 30rem;
  background-position: center;
  background-size: cover; }

.card-header {
  color: #fafafa; }

.TituloVideoMultimedia {
  color: #fafafa; }

.MultimediaMain {
  background-color: black;
  text-align: center; }

.VideoMulti01 {
  display: flex;
  justify-content: space-around; }

/******* MEDIA QUIERIES *********/
@media screen and (max-width: 768px) {
  .DivPadreMultimedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo" "foto1 foto2" "foto3 foto4" "foto5 foto6" "tituloV tituloV";
    gap: 20px; }
  .Enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
  .VideoMulti01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; } }

@media screen and (max-width: 600px) {
  .DivPadreMultimedia {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "titulo" "foto1"  "foto2" "foto3" "foto4" "foto5" "foto6" "tituloV";
    gap: 20px; }
  .Enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
  .VideoMulti01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; } }

/*Pagina Formulario*/
.MainContacto {
  background-color: black; }

.h5contacto {
  color: #fafafa; }

.col-6 {
  color: #fafafa; }

* {
  margin: 0;
  padding: 0; }

footer {
  background-color: #584e4e; }
