/*Pagina Formulario*/

.MainContacto{
    background-color: $mainColor;
}

.h5contacto{
    color: $secondColor;
}

.col-6{
    color: $secondColor;
}


/******* MEDIA QUIERIES *********/

@media screen and (max-width: 768px) {
        
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}