/*Pagina Historia en creacion cuando la termine, pongo todo en sass*/
.MainHistoria{
    background-color: $mainColor;
}
.DivFotoHistoria{
    margin-left: 80px;
    }
    
    .DivTextoHistoria01{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivTextoHistoria02{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivTextoHistoria03{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 100px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivVideoHistoria01{
        display: inline-block;
        height: 100%;
        width: 30%;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    
    .DivVideoHistoria02{
        display: inline-block;
        height: 100%;
        width: 30%;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    