/*Pagina Historia en creacion cuando la termine, pongo todo en sass*/

@mixin flex($dis , $direction , $corte , $just , $align){
    display: $dis;
    flex-flow: $direction $corte;
    justify-content: $just;
    align-items: $align;
    
    
}

@mixin grid ( $columnas , $espacio ) { 
    display: grid;
    grid-template-columns: repeat($columnas, 30%);
    gap: $espacio;
   
    

    @media screen and (max-width:768px ) {
        grid-template-columns: 1fr;
        gap: 0em;
        
    }

    @media screen and (max-width:600px ) {
        grid-template-columns: 1fr;
        gap: 0em;
        
    }
}







.section2Historia {
    @include flex(flex , row , nowrap , center , center)
}


.section1Historia {
    @include grid( 2 , 1em);
    

}


.MainHistoria{
    background-color: $mainColor;
}

.DivHistoriaFotos {
    @include flex(flex, row , nowrap , center , center )
}

.TextoHistoria {
    color: $secondColor;
    font-family: 'Roboto', sans-serif;
}

.TituloHistoria {
    color: $secondColor;
    text-align: center;
    margin-bottom: 30px;
}

.ucard {
    @extend .card;
    max-width: 300px;
    text-align: center;
    >img {
        @extend.avatar;
    
    }
    > h3 {
        @extend .title;
    }

    > small{
        @extend .small;
    }
}



.card {
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.15);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 12px;
    opacity: 0.85;

}

.small {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.75;

}


/*
.MainHistoria{
    background-color: $mainColor;
}

.DivTextoHistoria01 {
    @include flex(flex , row , nowrap , center , center)
}


.DivFotoHistoria{
    margin-left: 80px;
    }
    
    .DivTextoHistoria01{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivTextoHistoria02{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivTextoHistoria03{
        display: inline-block;
        height: 100%;
        width: 30%;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $secondColor;
        margin-left: 100px;
        margin-top: 30px;
        padding-bottom: 50px;
        
        
    }
    
    .DivVideoHistoria01{
        display: inline-block;
        height: 100%;
        width: 30%;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    
    .DivVideoHistoria02{
        display: inline-block;
        height: 100%;
        width: 30%;
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    */