
@import './variables';
@import './index';
@import './header';
@import './main';
@import './footer';

@import './discografia';
@import './historia';
@import './multimedia';
@import './contacto';


*{
    margin: 0;
    padding: 0;
}



footer{
    background-color:rgb(88, 78, 78);

}













